In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('indian_food.csv')

In [24]:
df.head()

,Id,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,2,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,3,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,4,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,5,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [20]:
all_ingredients = []
for i in range(len(df)):
    ingredients = df['ingredients'][i].split(',')
    for j in range(len(ingredients)):
        if ingredients[j] not in all_ingredients:
            all_ingredients.append(ingredients[j])
print(len(all_ingredients))

427

In [21]:
#df['prep_time'].iloc[72]

In [22]:
users = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [25]:
user_id = []
food_id = []
ratings= []
for u in users:
    c= 0
    for i in df['Id']:
        random = np.random.choice(range(1,len(df)+1),size = 10)
        for r in random:
            rating = 1
            rating += abs(df['prep_time'].iloc[r-1] - df['prep_time'].iloc[i-1])/(max(df['prep_time'].iloc[r-1],df['prep_time'].iloc[i-1]))
            if df['diet'].iloc[r-1] ==  df['diet'].iloc[i-1]:
                rating+=2
            if df['flavor_profile'].iloc[r-1] ==  df['flavor_profile'].iloc[i-1]:
                rating+=2
            else:
                rating+=1
            
            if df['course'].iloc[r-1] ==  df['course'].iloc[i-1]:
                rating+=1
            else:
                rating+=0.5
            
            if df['state'].iloc[r-1] ==  df['state'].iloc[i-1]:
                rating+=2
            else:
                rating+=1
            
            if df['region'].iloc[r-1] ==  df['region'].iloc[i-1]:
                rating+=1
            
            user_id.append(u)
            food_id.append(r)
            ratings.append(rating)
        c+=1
        if c >10:
            break

In [26]:
details = {
    'User_Id' : user_id,
    'Food_Id' : food_id,
    'Ratings' : ratings,
}

In [27]:
df = pd.DataFrame(details)

In [28]:
df.head()

   User_Id  Food_Id   Ratings
0        1      200  6.277778
1        1        4  7.666667
2        1      255  8.022222
3        1      167  6.277778
4        1      190  6.277778

In [29]:
len(df)

2200

In [30]:
df.to_csv('Ratings.csv',index=False)